.dashboard-container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}
.row{
    width: 100%;
}
.logo-icon:hover{
    color: #d8d7d7;
}
.sidebar-container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #333;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
}
.link:hover{
    background:#d8d7d7;
    color: #fff;
    transition: all 0.5s;
    text-decoration: none;
}
.active{
    background: rgb(241, 241, 241);
    color: #fff;
}
.icon, .link_text{
    font-size: 20px;
    color: #fff;
}

.navbar{
    padding: 0;
    width: 100%;
    /* background: #f5f7f7; */
    
}

.navbar-container{
    width: 100%;
    background: #f5f7f7;
    padding: 0 4rem;
}

.navbar-row{
    height: 8%;
}

.nav-btn{
    font-size: 1.2rem;
    margin: 0 0.6rem;
    border-radius: 4px;
}
.nav-icon{
    margin-right: 0.4rem;

}
.add-btn{
    
    border: 0px;
}

.second-btn{
    background: rgba(162, 163, 163, 0.379);
    color: rgba(35, 36, 37, 0.92);
    fill: rgba(35, 36, 37, 0.92);
    
    border: 0px;
}