h2{
    color: black;
}

.load-icon{
    font-size: 100px;
}

.form-group{
    text-align: left;
    width: 20rem;
}

.password-container{
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.password-container:hover{
    margin-bottom: 1rem;
    border-top: 1px solid #d9dfe0   ;
    border-bottom: 1px solid #d9dfe0 ;
    
}

.hide{
    display: none;
}