h2{
    color: black;
}

.load-icon{
    font-size: 100px;
}

.form-group{
    text-align: left;
    width: 20rem;
}

.password-container{
    margin-bottom: 1rem;
    
}

.password-container:hover{
    margin-bottom: 1rem;
    
    
}

.hide{
    display: none;
}

#password-table__head{
    border-top: white;
}