.collapsed--BrviRkpKCo{
    min-width: 48px;
    max-width: 48px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper--wgYc0yYGn1 {
    max-width: 400px;
    min-width: 320px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #0e353d;
    background-color: #d9e6e9;
    font-size: 11px;
    min-height: 100vh;
    max-height: 100vh;
    transition: min-width 500ms, max-width 500ms;
    overflow-y: auto;
    overflow-x: hidden;

}

/* .generatorModal{
    height: 400px;
}
.modal-content{
    height: 450px;
} */

#generator__alert-container{
    margin-bottom: 6px;
}

.generatedPasswordContainer{
    width: 430px;
    /* height: 140px; */
    
}

.passwordAndIndicator{
    /* width: 430px;
    height: 40px; */
    min-width: 430px;
    max-width: 430px;
    min-height: 40px;
    max-height: 75px;
    border: 1px solid #fff;
    background: #fff;
    /* vertical-align: baseline; */
    border-radius: 4px;
    display: flex;
    /* word-break:break-all; */
    /* text-overflow: clip; */
    /* justify-content: space-between; */
    /* align-items: center; */
    
}

.modal-header{
    background: #D9E6E9;
    word-wrap: break-word;
}

#passwordInputContainer{
    min-width: 430px;
    max-width: 430px;
    min-height: 40px;
    max-height: 72px;
    
    /* display: flex;
    flex-direction: row; */
    
}

#passwordInput{
    float: left;
    background: #fff;
    /* border: 1px solid red; */
    --password-font-size: 17px;
    --password-line-height: 32px;
    --password-letter-spacing: 0.05em;
    margin-left: 12px;
    font-family: 'Apercu Mono Pro', monospace;
    font-size: var(--password-font-size);
    line-height: var(--password-line-height);
    font-weight: 400;
    letter-spacing: var(--password-letter-spacing);
    color: #000;
    width: 380px;
    min-height: 42px;
    /* height: 42px; */
    /* text-overflow: clip; */
    /* padding: 0px 5px; */
    margin: 0;
    padding: 5px 10px;
    word-wrap: break-word;
    transition: opacity 0.1s ease 0s;
    /* font: inherit;
    vertical-align: baseline;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; */

}

.refresh-btn{
    position: absolute;
    background: transparent;
    border: transparent;
}

.refresh-btn:hover, .refresh-btn:focus, .refresh-btn:active{
    background: transparent;
    border: transparent;
    outline: none;
    box-shadow: none;
}

.refresh-icon{
    width: 20px;
    height: 20px;
    color: rgb(14, 53, 61);
    
    transition: none 0s ease 0s;
    cursor: inherit;
    opacity: 1;
    outline: none;
}

.refresh-icon:hover{
    color: #0C5161;
    background: transparent;
    border: transparent;
}

#refreshButton:active{
    border: 1px solid #0C5161;
}

#lengthRange{
    width: 300px;
    background: red;
}

input:checked, #lowerCheck {
    border-color: rgb(14, 100, 118);
    background-color: rgb(14, 100, 118);
}

input[type="radio"]:checked {
    box-shadow: 0 0 0 3px orange;
}

.passwordButtons{
    height: 60px;
    float: right;
    display: flex;
    place-items: right;
    align-items: center;
}

#copy-btn{
    position: relative;
}